.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.margin_center{
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #ff2442;
}

.title{
  color:#ff2442;
}

.btn, .bg-theme-color{
  background-color: #ff2442;
  color:#fff;
}
.btn:hover{
  color:#ddd;
}

.downarrow{
  margin-top: 50px;
  width:50px;
  height: 50px;
  animation: upAndDown ease-in-out 1s infinite alternate;
}

@keyframes upAndDown{
  0%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(-40px);
  }
}

/* crawling */
.list-group{
  flex-flow: row wrap;
}

.border-xhs{
  border:1px solid #ff2442;
}

.post-card-group{
  -moz-column-count:5;
  -webkit-column-count:5;
  column-count: 5;
  -moz-column-gap:2.5em;
  -webkit-column-gap:2.5em;
  column-gap: 2.5em;
}

@media screen and (max-width:1025px){
  .post-card-group{
    -moz-column-count:3;
    -webkit-column-count:3;
    column-count: 3;
    -moz-column-gap:1.6em;
    -webkit-column-gap:1.6em;
    column-gap: 1.6em;
  }
}

@media screen and (max-width:500px){
  .post-card-group{
    -moz-column-count:1;
    -webkit-column-count:1;
    column-count: 1;
    -moz-column-gap:1.3em;
    -webkit-column-gap:1.3em;
    column-gap: 1.3em;
  }
}

/* card.ejs */
.wid-250px{
  width:250px;
}

.likes{
  width: 20px;
  height: 20px;
  vertical-align: middle;
}